vaadin:
  launch-browser: false
  exclude-urls: "/v1/*"
  allowed-packages: "com.vaadin,org.vaadin,com.flowingcode,com.example.app"
server:
  port: 8081


spring:
  jpa:
    hibernate:
      ddl-auto: update
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  security:
    ignored: /**
  application:
    name: "acerolatrack"
  datasource:
    url: "jdbc:postgresql://localhost:${POSTGRES_PORT:5438}/postgres"
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:example}
    driver-class-name: org.postgresql.Driver
  jackson:
    property-naming-strategy: SNAKE_CASE
