vaadin:
  launch-browser: false
  url-mapping: /front/*
  exclude-urls: "/v1/*"
server:
  port: 8081


spring:
  jpa:
    hibernate:
      ddl-auto: update
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  security:
    ignored: /**
  application:
    name: "acerolatrack"
  datasource:
    url: "jdbc:postgresql://localhost:5432/postgres"
    username: "postgres"
    password: "example"
  jackson:
    property-naming-strategy: SNAKE_CASE
